.feature__container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin: 1rem;
}

.feature__container .title {
  flex: 1;
  max-width: 180px;
  margin-right: 2rem;
}

.feature__container h1 {
  font-weight: 800;
  font-size: 24px;
  line-height: 75px;
  color: #fff;
}

.feature__container p {
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  color: var(--color-text);
}

.feature__container h1,
.feature__container p {
  font-family: var(--font-family);
  letter-spacing: -0.04em;
}

.feature__container .accent__bar {
  background: var(--gradient-bar);
  width: 38px;
  height: 3px;
  margin-bottom: 0.25rem;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.feature__container .text {
  flex: 2;
}
