.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 6rem;
}

.navbar__links {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.navbar__links__logo {
  margin-right: 2rem;
}

.navbar__links__logo img {
  width: 80px;
  height: 30px;
}

.navbar__links__container {
  display: flex;
  flex-direction: row;
}

.navbar__links__container p + p {
  padding-left: 2rem;
}

.navbar__buttons {
  display: flex;
}

.navbar__buttons__login {
  padding: 0.5rem 1.5rem;
  border-radius: 0.5rem;
  background-color: transparent;
  border: none;
}

.navbar__buttons__signup {
  height: 58px;
  width: 152px;
  border-radius: 20px;
  border: none;
  /* ff 3.6+ */
  background: -moz-linear-gradient(
    11deg,
    rgba(255, 157, 0, 1) 0%,
    rgba(238, 130, 238, 1) 81%
  );

  /* safari 5.1+,chrome 10+ */
  background: -webkit-linear-gradient(
    11deg,
    rgba(255, 157, 0, 1) 0%,
    rgba(238, 130, 238, 1) 81%
  );

  /* opera 11.10+ */
  background: -o-linear-gradient(
    11deg,
    rgba(255, 157, 0, 1) 0%,
    rgba(238, 130, 238, 1) 81%
  );

  /* ie 6-9 */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FF9D00', endColorstr='#ee82ee', GradientType=1 );

  /* ie 10+ */
  background: -ms-linear-gradient(
    11deg,
    rgba(255, 157, 0, 1) 0%,
    rgba(238, 130, 238, 1) 81%
  );

  /* global 94%+ browsers support */
  background: linear-gradient(
    11deg,
    rgba(255, 157, 0, 1) 0%,
    rgba(238, 130, 238, 1) 81%
  );
}

.navbar__buttons__signup__dev {
  background: -moz-linear-gradient(
    90deg,
    rgba(0, 0, 255, 1) 0%,
    rgba(217, 0, 255, 1) 27%,
    rgba(255, 0, 153, 1) 63%,
    rgba(238, 130, 238, 1) 100%
  );

  /* safari 5.1+,chrome 10+ */
  background: -webkit-linear-gradient(
    90deg,
    rgba(0, 0, 255, 1) 0%,
    rgba(217, 0, 255, 1) 27%,
    rgba(255, 0, 153, 1) 63%,
    rgba(238, 130, 238, 1) 100%
  );

  /* opera 11.10+ */
  background: -o-linear-gradient(
    90deg,
    rgba(0, 0, 255, 1) 0%,
    rgba(217, 0, 255, 1) 27%,
    rgba(255, 0, 153, 1) 63%,
    rgba(238, 130, 238, 1) 100%
  );

  /* ie 6-9 */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ee82ee', endColorstr='#0000FF', GradientType=0 );

  /* ie 10+ */
  background: -ms-linear-gradient(
    90deg,
    rgba(0, 0, 255, 1) 0%,
    rgba(217, 0, 255, 1) 27%,
    rgba(255, 0, 153, 1) 63%,
    rgba(238, 130, 238, 1) 100%
  );

  /* global 94%+ browsers support */
  background: linear-gradient(
    90deg,
    rgba(0, 0, 255, 1) 0%,
    rgba(217, 0, 255, 1) 27%,
    rgba(255, 0, 153, 1) 63%,
    rgba(238, 130, 238, 1) 100%
  );
}
/* .navbar__buttons__signup:hover {
  cursor: pointer;
}

.navbar__buttons__login:hover {
  cursor: pointer;
} */

.navbar__links__container,
.navbar__buttons__login,
.navbar__buttons__signup,
.navbar__hamburger__container {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  color: #fff;
  cursor: pointer;
}

.navbar__hamburger {
  display: none;
  position: relative;
  margin-left: 1rem;
}

.navbar__hamburger svg {
  cursor: pointer;
  height: 30px;
  width: 30px;
}

.navbar__hamburger__container {
  display: flex;
  justify-content: flex-end;

  align-items: flex-end;
  text-align: end;

  /* align-items: center;
  text-align: center; */

  flex-direction: column;
  background: var(--color-footer);
  padding: 2rem;
  position: absolute;
  top: 40px;
  right: 0;
  margin-top: 1rem;
  min-width: 210px;
  border-radius: 10px;
  box-shadow: 0 0 5 rgba(0, 0, 255, 1);
}

.navbar__hamburger__container p {
  margin: 1rem 0;
}

.navbar__hamburger__container__buttons {
  display: none;
}

@media screen and (max-width: 1100px) {
  .navbar__links__container {
    display: none;
  }

  .navbar__hamburger {
    display: flex;
  }
}

@media screen and (max-width: 700px) {
  .navbar {
    padding: 2rem 4rem;
  }
}

@media screen and (max-width: 550px) {
  .navbar {
    padding: 2rem 2rem;
  }

  .navbar__buttons {
    display: none;
  }

  .navbar__hamburger__container {
    top: 20px;
  }

  .navbar__hamburger__container__buttons {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .navbar__hamburger__container {
    align-items: center;
    text-align: center;
  }

  .navbar__buttons__login {
    margin-bottom: 1rem;
  }
}
