.header {
  display: flex;
  justify-content: center;
  align-items: center; 
}

.header__container {
  display: flex;
  flex: 1;
  justify-self: center;
  align-items: flex-start;
  flex-direction: column;
  margin-right: 5rem;
}

.header__container h1 {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 62px;
  line-height: 75px;
  letter-spacing: -0.04em;
}
.header__container p {
  margin: 1rem 0;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  color: var(--color-text);
}

.header__container__input {
  font-family: var(--font-family);
  width: 100%;
  margin: 2rem 0 1rem;
  display: flex;
}

.header__container__input input {
  background: #052d56;
  border-radius: 10px 0px 0px 10px;
  border: none;
  flex: 2;
  min-height: 50px;
  outline: none;
  width: 100%;
}

.header__container__input::placeholder,
.header__container__input input {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  padding: 0 1.5rem;
  color: #3d6184;
}

.header__container__input button {
  /* background: var(--gradient-bar); */
  /* border-radius: 10px; */
  border-radius: 0px 10px 10px 0px;
  border: none;
  padding: 0.5rem 1rem;
  color: #fff;
  font-weight: 500;
  font-size: 20px;
  line-height: 27px;
  cursor: pointer;
  width: 100%;
  flex: 0.6;
  min-height: 50px;
  white-space: nowrap;

  background: -moz-linear-gradient(
    11deg,
    rgba(255, 157, 0, 1) 0%,
    rgba(238, 130, 238, 1) 81%
  );

  /* safari 5.1+,chrome 10+ */
  background: -webkit-linear-gradient(
    11deg,
    rgba(255, 157, 0, 1) 0%,
    rgba(238, 130, 238, 1) 81%
  );

  /* opera 11.10+ */
  background: -o-linear-gradient(
    11deg,
    rgba(255, 157, 0, 1) 0%,
    rgba(238, 130, 238, 1) 81%
  );

  /* ie 6-9 */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FF9D00', endColorstr='#ee82ee', GradientType=1 );

  /* ie 10+ */
  background: -ms-linear-gradient(
    11deg,
    rgba(255, 157, 0, 1) 0%,
    rgba(238, 130, 238, 1) 81%
  );

  /* global 94%+ browsers support */
  background: linear-gradient(
    11deg,
    rgba(255, 157, 0, 1) 0%,
    rgba(238, 130, 238, 1) 81%
  );
}

.header__container__humans {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin-top: 2rem;
}

.header__container__humans img {
  height: 38px;
  width: 182px;
}

.header__container__humans p {
  font-family: var(--font-family);
  margin-left: 1rem;
  font-size: 16px;
  line-height: 38px;
  text-align: center;
}

.header__container__image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__container__image img {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1100px) {
  .header {
    flex-direction: column;
  }

  .header__container {
    margin: 0 0 3rem;
  }
}

@media screen and (max-width: 650px) {
  .header h1 {
    font-size: 48px;
    line-height: 60px;
  }

  .header p {
    font-size: 16px;
    line-height: 24px;
  }

  .header__container__humans {
    flex-direction: column;
  }

  .header__container__humans p {
    margin-top: 1rem;
    margin-left: 0;
  }

  .header__container__input input,
  .header__container__input button {
    font-size: 16px;
    line-height: 24px;
  }
}

@media screen and (max-width: 514px) {
  .header h1 {
    font-size: 36px;
    line-height: 48px;
  }

  .header p {
    font-size: 14px;
    line-height: 24px;
  }

  .header__container__humans {
    flex-direction: column;
  }

  .header__container__humans p {
    margin-top: 1rem;
    margin-left: 0;
  }

  .header__container__input button{
    flex: 0.8;
  }
  .header__container__input input,
  .header__container__input button {
    font-size: 12px;
    line-height: 20px;
  }
}
